.head {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 2rem 0;
  text-align: center;
}
.head:before,
.head:after {
  content: '';
  display: table;
}
.head:after {
  clear: both;
}
@media (max-width: 900px) {
  .head {
    *zoom: 1;
    width: auto;
    max-width: 900px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .head:before,
  .head:after {
    content: '';
    display: table;
  }
  .head:after {
    clear: both;
  }
  .head:first-child {
    margin-left: auto;
  }
  .head:last-child {
    margin-right: auto;
  }
}
.head .logo {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
}
.head .logo:before,
.head .logo:after {
  content: '';
  display: table;
}
.head .logo:after {
  clear: both;
}
.head .logo:last-child {
  margin-right: 0%;
}
@media (max-width: 900px) {
  .head .logo {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  .head .logo:first-child {
    margin-left: auto;
  }
  .head .logo:last-child {
    margin-right: auto;
  }
}
.head nav {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 58.8%;
  margin-left: 20.6%;
  margin-right: 3%;
}
@media (max-width: 900px) {
  .head nav {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .head nav:first-child {
    margin-left: auto;
  }
  .head nav:last-child {
    margin-right: auto;
  }
}
.head nav:before,
.head nav:after {
  content: '';
  display: table;
}
.head nav:after {
  clear: both;
}
.head nav:last-child {
  margin-right: 0%;
}
.head nav a {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  overflow: hidden;
}
.head nav a:before,
.head nav a:after {
  content: '';
  display: table;
}
.head nav a:after {
  clear: both;
}
.head nav a:last-child {
  margin-right: 0%;
}
@media (max-width: 900px) {
  .head nav a {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  .head nav a:first-child {
    margin-left: auto;
  }
  .head nav a:last-child {
    margin-right: auto;
  }
}
.jumbotron {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
.jumbotron:before,
.jumbotron:after {
  content: '';
  display: table;
}
.jumbotron:after {
  clear: both;
}
@media (max-width: 900px) {
  .jumbotron {
    margin: 3rem;
  }
}
.page-header {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}
.page-header:before,
.page-header:after {
  content: '';
  display: table;
}
.page-header:after {
  clear: both;
}
.page-header h1 {
  margin-top: 0;
}
@media (max-width: 900px) {
  .page-header {
    *zoom: 1;
    width: auto;
    max-width: 900px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .page-header:before,
  .page-header:after {
    content: '';
    display: table;
  }
  .page-header:after {
    clear: both;
  }
}
.alerts {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 3rem;
}
.alerts:before,
.alerts:after {
  content: '';
  display: table;
}
.alerts:after {
  clear: both;
}
@media (max-width: 900px) {
  .alerts {
    *zoom: 1;
    width: auto;
    max-width: 900px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .alerts:before,
  .alerts:after {
    content: '';
    display: table;
  }
  .alerts:after {
    clear: both;
  }
}
.alerts .alert {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.alerts .alert:before,
.alerts .alert:after {
  content: '';
  display: table;
}
.alerts .alert:after {
  clear: both;
}
.alerts .alert:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.alerts .alert:nth-child(2n+1) {
  clear: both;
}
#payee-form,
#payment-form {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
#payee-form:before,
#payment-form:before,
#payee-form:after,
#payment-form:after {
  content: '';
  display: table;
}
#payee-form:after,
#payment-form:after {
  clear: both;
}
#payee-form .chosen-container,
#payment-form .chosen-container {
  width: 100% !important;
}
@media (max-width: 900px) {
  #payee-form button,
  #payment-form button {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #payee-form button:first-child,
  #payment-form button:first-child {
    margin-left: auto;
  }
  #payee-form button:last-child,
  #payment-form button:last-child {
    margin-right: auto;
  }
}
@media (max-width: 900px) {
  #payee-form,
  #payment-form {
    *zoom: 1;
    width: auto;
    max-width: 900px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #payee-form:before,
  #payment-form:before,
  #payee-form:after,
  #payment-form:after {
    content: '';
    display: table;
  }
  #payee-form:after,
  #payment-form:after {
    clear: both;
  }
  #payee-form:first-child,
  #payment-form:first-child {
    margin-left: auto;
  }
  #payee-form:last-child,
  #payment-form:last-child {
    margin-right: auto;
  }
}
.date-input {
  text-align: center;
}
.date-input p {
  text-align: left;
}
@media (max-width: 900px) {
  .date-input {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .date-input:first-child {
    margin-left: auto;
  }
  .date-input:last-child {
    margin-right: auto;
  }
}
.date-input .day,
.date-input .month,
.date-input .year,
.date-input button {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
.date-input .day:before,
.date-input .month:before,
.date-input .year:before,
.date-input button:before,
.date-input .day:after,
.date-input .month:after,
.date-input .year:after,
.date-input button:after {
  content: '';
  display: table;
}
.date-input .day:after,
.date-input .month:after,
.date-input .year:after,
.date-input button:after {
  clear: both;
}
@media (max-width: 900px) {
  .date-input .day,
  .date-input .month,
  .date-input .year,
  .date-input button {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .date-input .day:first-child,
  .date-input .month:first-child,
  .date-input .year:first-child,
  .date-input button:first-child {
    margin-left: auto;
  }
  .date-input .day:last-child,
  .date-input .month:last-child,
  .date-input .year:last-child,
  .date-input button:last-child {
    margin-right: auto;
  }
}
.datetimepicker {
  width: 50%;
  margin-left: 25%;
}
@media (max-width: 900px) {
  .datetimepicker {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .datetimepicker:first-child {
    margin-left: auto;
  }
  .datetimepicker:last-child {
    margin-right: auto;
  }
}
.datetimepicker table {
  margin-top: 30px;
}
#balance-container {
  text-align: center;
}
